@import "tailwindcss";
@import "tw-animate-css";


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@theme {
  --primary: #ABE1F1;
  --secondary: #EFF4F6;
  --accent: #DAFFA5;
  --peach: #FFDCA6;
  --success: #5ED99A;
  --error: #F05D4A;
  --white: #FFFFFF;
  --black: #101011;
  --gray-1: #CAD1D9;
  --gray-2: #A3A7AB;
  --gray-3: #63686E;
  --font-display: 'Inter'
}

@layer base {
  * {
    border-color: var(--color-gray-1);
    outline-color: var(--color-primary);
  }
  body {
    font-family: var(--font-inter), sans-serif;
    background-color: var(--color-white);
    color: var(--color-black);
  }
}
