@import 'tailwindcss';
@import 'tw-animate-css';


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

a {
  color: inherit;
  text-decoration: none;
}

@theme {
  --color-primary: #ABE1F1;
  --color-secondary: #EFF4F6;
  --color-accent: #DAFFA5;
  --color-peach: #FFDCA6;
  --color-success: #5ED99A;
  --color-error: #F05D4A;
  --color-white: #FFFFFF;
  --color-black: #101011;
  --color-gray-1: #CAD1D9;
  --color-gray-2: #A3A7AB;
  --color-gray-3: #63686E;
  --color-font-display: 'Inter'
}

@layer base {
  * {
    border-color: var(--color-gray-1);
    outline-color: var(--color-primary);
  }
  body {
    font-family: var(--font-inter), sans-serif;
    background-color: var(--color-white);
    color: var(--color-black);
  }
}
